<div class="content-wrapper" appBlurOnOutsideTap>
<div class="header">
  <div class="burger" (click)="toggleMenu()">
    ☰
  </div>
  @if (userData$ | async; as data) {
    <p>
      Пациент:
      {{ data.lastSelectedPatientNickname ? data.lastSelectedPatientNickname : ' - ' }}
    </p>
  }
</div>

<nav class="side-menu" [class.open]="menuOpen">
  <button (click)="goToDoctor()">Профиль врача</button>
  <button (click)="goToPatients()">Пациенты</button>
</nav>

<div class="content" (click)="menuOpen = false">
  <app-chat></app-chat>
</div>
</div>
