.chat-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.messages {
  flex: 1; /* занимает всё пространство сверху */
  overflow-y: auto;
}

.chat-input-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* input-wrapper всегда внизу */
  background: black;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 78dvh 1% 2% 1%;
}

.input-wrapper {
  display: flex;
  gap: 12px;
  align-items: center;
  background: black;
  border-radius: 24px;
  padding: 8px 8px 8px 20px;
  border: 1px solid whitesmoke;
}

.chat-textarea {
  flex: 1;
  border: none;
  background: transparent;
  font-size: 16px;
  line-height: 20px;
  max-height: 150px;
  resize: none;
  outline: none;
  font-family: inherit;
  color: ghostwhite;
  overflow-y: auto;
  padding: 0;
  margin: 0;
  height: 20px;
  min-height: 20px;
}

.send-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border: none;
  border-radius: 50%;
  background: #7F70D8;
  color: ghostwhite;
  cursor: pointer;
  flex-shrink: 0;
  align-self: center;
  margin: 0;
}
.chat-textarea::placeholder {
  color: white;
  transition: opacity 0.15s ease;
}

.chat-textarea:focus::placeholder {
  opacity: 0;
}
