.chat-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%; /* растягиваем на 100% родителя .container */
}

.messages {
  flex: 1; /* занимает всё пространство сверху */
  overflow-y: auto;
}

.chat-input-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* input-wrapper всегда внизу */
  background: white;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 60vh 2% 2% 2%
}

.input-wrapper {
  display: flex;
  gap: 12px;
  align-items: center;
  background: #f3f4f6;
  border-radius: 24px;
  padding: 8px 8px 8px 20px;
  border: 1px solid #e5e7eb;
}

.chat-textarea {
  flex: 1;
  border: none;
  background: transparent;
  font-size: 15px;
  line-height: 20px;
  max-height: 150px;
  resize: none;
  outline: none;
  font-family: inherit;
  color: #1f2937;
  overflow-y: auto;
  padding: 0;
  margin: 0;
  height: 20px;
  min-height: 20px;
}

.send-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border: none;
  border-radius: 50%;
  background: #7F70D8;
  color: white;
  cursor: pointer;
  flex-shrink: 0;
  align-self: center;
  margin: 0;
}
