<div class="chat-wrapper">
  <div
    class="messages"
    #messagesContainer
    (scroll)="onScroll()"
  >

    @for (msg of messages; track msg) {
    <div
      class="message"
      [class.my-message]="msg.isMine"
      [class.bot-message]="!msg.isMine"
    >
      {{ msg.text }}
    </div>
    }
    @if (isTyping) {
    <div class="typing-indicator">
      Печатает...
    </div>
    }
  </div>

  <!-- Кнопка новых сообщений -->
  @if (showScrollButton) {
    <button
      class="scroll-bottom-btn"
      [class.show]="showScrollButton"
      (click)="scrollToBottom(true)"
    >
      ⬇ К последним сообщениям
    </button>
  }
  <div class="chat-input-container">
    <div class="input-wrapper">
      <textarea
        #chatTextarea
        class="chat-textarea"
        [(ngModel)]="messageText"
        placeholder="Введите сообщение..."
        rows="1"
        (input)="onInput($event)"
        (keydown)="onKeyDown($event)"
      ></textarea>

      <button
        class="send-button"
        (click)="sendMessage()"
        (touchstart)="sendMessage()"
        [disabled]="!messageText.trim()"
      >
        ➤
      </button>
    </div>
  </div>
</div>
