.transition-buttons-container {
  margin-top: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.transition-buttons-container button {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
