<app-menu-shell [showHome]="true" title="Профиль врача" backRoute="/">
  <div class="content-wrapper">
    @if (userData; as data) {
      <div class="user-info">
        <form class="name-editor" [formGroup]="doctorForm">
          <label class="name-label" for="doctor-nickname">Имя пользователя</label>
          <div class="name-controls">
            <input id="doctor-nickname" class="name-input" formControlName="nickName" />
            <button class="save-name-btn" type="button" (click)="saveDoctorData()">Сохранить</button>
          </div>
        </form>
        <p>Специализация: {{ data.specializations.length ? data.specializations[0].title : 'Не выбрана' }}</p>
        <p class="profile-hint">Из профиля можно изменить имя, специализацию и завершить сессию на этом устройстве.</p>
      </div>
    }
  </div>
  <app-transition-buttons [buttons]="buttonsConfig"></app-transition-buttons>
</app-menu-shell>
