/* Inter Regular */
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/Inter-Regular.woff2") format("woff2")
}

/* Inter Medium */
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url("/assets/fonts/Inter-Medium.woff2") format("woff2")
}

/* Inter Italic */
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: italic;
  font-weight: 400;
  src: url("/assets/fonts/Inter-Italic.woff2") format("woff2")
}

/* Inter Medium Italic */
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: italic;
  font-weight: 500;
  src: url("/assets/fonts/Inter-MediumItalic.woff2") format("woff2")
}
