@import 'fonts';

// Переменные цветов Telegram
$bg-color: var(--tg-theme-bg-color, #f4f4f4);
$text-color: var(--tg-theme-text-color, #222);
$btn-color: #510FAD;

body{
  font-family: 'JetBrains Mono', monospace;
  //background-image: url('/assets/background.png'); /* путь к вашей картинке */
  //background-size: cover;    /* чтобы изображение покрывало весь экран */
  //background-position: center;
  //background-repeat: no-repeat;
}
html {
  margin: 0;
  padding: 0;
  background-color: $bg-color;
  color: $text-color;
}

.container {
  padding: 20px;
  text-align: center;
}

button {
  width: 100%;
  padding: 14px;
  margin-bottom: 12px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: background 0.2s;
  font-family: inherit;
  background-color: $btn-color;
  color: white;
  font-style: normal;
  font-weight: 500;

  &:hover {
    background-color: darken($btn-color, 10%);
  }

  // ----------------------------
  // Стиль для disabled кнопки
  // ----------------------------
  &:disabled {
    background-color: lighten($btn-color, 25%);
    cursor: not-allowed;
    opacity: 0.6;
    pointer-events: none; // отключение hover/click
  }

  // Чтобы hover НЕ срабатывал на disabled
  &:disabled:hover {
    background-color: lighten($btn-color, 25%);
  }
}

.chip-table {
  display: grid;
  grid-template-columns: repeat(2, auto); /* 2 колонки */
  justify-content: center;   /* центрируем таблицу по горизонтали */
  gap: 12px 16px;           /* gap между колонками и рядами */
  margin-top: 50px;          /* можно подвинуть вниз, чтобы было по центру экрана */
}

.chip-cell {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 12px;
  height: 32px;
  border-radius: 16px;
  background-color: #EDE0FF;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

.chip-cell:hover {
  background-color: #D1B3FF;
}

.chip-cell.selected {
  background-color: #510FAD;
  color: white;
}

.form {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background: #f8f9fa;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
}

.form-control {
  display: flex;
  flex-direction: column;
  margin: 0 auto 16px;
  width: 70%;
}

.form-control label {
  margin-bottom: 6px;
  font-weight: 600;
  color: #333;
}

.form-control.has-error input {
  border-color: #d32f2f;
}

.form-control input {
  padding: 10px 14px;
  border-radius: 8px;
  border: 1px solid #ccc;
  transition: border-color .2s, box-shadow .2s;
}

.form-control input:focus {
  border-color: #3f51b5;
  box-shadow: 0 0 0 3px rgba(63, 81, 181, .2);
  outline: none;
}
.fieldRequiredError{
  color: #d32f2f;
  font-size: 12px;
  margin-top: 4px;
}

/* You can add global styles to this file, and also import other style files */
