@import 'fonts';

// Переменные цветов Telegram
$bg-color: var(--tg-theme-bg-color, #f4f4f4);
$text-color: var(--tg-theme-text-color, #222);
$btn-color: #000000;

body{
  font-family: 'Inter', sans-serif; /* правильно */
  font-weight: 400; /* normal вес */
  font-style: normal;
}
html {
  margin: 0;
  padding: 0;
  background-color: $bg-color;
  color: $text-color;
}

.container {
  padding: 5px;
  text-align: center;
  color: ghostwhite;
  background-color: black;
  min-height: 96vh;
  max-height: 96vh;
  display: flex;
  flex-direction: column;
}

.content-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

button {
  width: 75%;
  padding: 10px;
  margin-bottom: 12px;
  font-size: 14px;
  border-radius: 24px;
  cursor: pointer;
  transition: background 0.2s;
  font-family: inherit;
  background-color: $btn-color;
  border-color: whitesmoke;
  color: white;
  font-style: normal;
  font-weight: 500;

  &:hover {
    background-color: darken($btn-color, 10%);
  }

  // ----------------------------
  // Стиль для disabled кнопки
  // ----------------------------
  &:disabled {
    background-color: lighten($btn-color, 25%);
    cursor: not-allowed;
    opacity: 0.6;
    pointer-events: none; // отключение hover/click
  }

  // Чтобы hover НЕ срабатывал на disabled
  &:disabled:hover {
    background-color: lighten($btn-color, 25%);
  }
}

.chip-table {
  display: grid;
  grid-template-columns: repeat(2, minmax(120px, 1fr)); /* 2 колонки */
  justify-content: center;   /* центрируем таблицу по горизонтали */
  gap: 12px 16px;           /* gap между колонками и рядами */

  /* Добавляем прокрутку */
  max-height: calc(5 * (32px + 12px)); /* 4 строки * (высота элемента + gap) */
  overflow-y: auto;
  padding-right: 8px; /* Отступ для скроллбара */
  width: fit-content;   /*  КЛЮЧ */
  margin: 50px auto 0;  /* центрируем блок */

}

/* Стилизация скроллбара (опционально) */
.chip-table::-webkit-scrollbar {
  width: 6px;
}

.chip-table::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 3px;
}

.chip-table::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

.chip-table::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.chip-cell {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 12px;
  height: 40px;
  border-radius: 16px;
  background-color: #928585;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
  color:white;
  /* Управление текстом */
  max-width: 150px;        /* Максимальная ширина чипа */
  min-width: 100px;
  font-size: 14px;        /* Базовый размер шрифта */
  border: 1px solid transparent;
  overflow: hidden;       /* Скрываем выходящее */
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}

@media (hover: hover) and (pointer: fine) {
  .chip-cell:hover {
    background-color: black;
    border-color: whitesmoke;
  }
}

.chip-cell.selected {
  background-color: black;
  color: white;
  border-color: whitesmoke;
}

.chip-text {
  display: block;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.form {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background: #f8f9fa;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
  display: flex;
  flex-direction: column;
  height: 100%;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin: 0 auto 16px;
  width: 70%;
}

.form-control label {
  margin-bottom: 6px;
  font-weight: 600;
}

.form-control.has-error input {
  border-color: #d32f2f;
}

.form-control input {
  padding: 10px 14px;
  border-radius: 24px;
  border: 1px solid #ccc;
  transition: border-color .2s, box-shadow .2s;
  background-color: black;
  color: white;
}

.form-control input:focus {
  border-color: #3f51b5;
  box-shadow: 0 0 0 3px rgba(63, 81, 181, .2);
  outline: none;
}
.fieldRequiredError{
  color: #d32f2f;
  font-size: 12px;
  margin-top: 4px;
}
/*для ios, чтобы форма не оставалась увеличенной
после ввода в input*/
input, textarea, select {
  font-size: 16px;
}

/* Firefox */
* {
  scrollbar-width: thin;                 /* тонкая полоса */
  scrollbar-color: #2a2a2a transparent; /* цвет бегунка и трека */
}

/* Chrome, Edge, Safari */
*::-webkit-scrollbar {
  width: 6px; /* ширина полосы прокрутки */
}

*::-webkit-scrollbar-track {
  background: transparent; /* фон полосы */
}

*::-webkit-scrollbar-thumb {
  background-color: #2a2a2a; /* цвет бегунка */
  border-radius: 3px;         /* скругление бегунка */
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #2a2a2a; /* цвет при наведении */
}
